<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="behaviorConfig">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="100"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding name="tcpBinding"
       maxBufferSize="67108864"
       maxReceivedMessageSize="67108864"
       maxBufferPoolSize="67108864"
       transferMode="Buffered"
       closeTimeout="00:05:00"
       openTimeout="00:05:00"
       receiveTimeout="00:59:00"
       sendTimeout="00:05:00">
          <security mode="None">
          </security>
          <readerQuotas maxArrayLength="67108864"
          maxBytesPerRead="67108864"
          maxStringContentLength="67108864"/>
          <reliableSession enabled="true" inactivityTimeout="00:59:00"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="behaviorConfig" name="PubSub.Service.PubSubService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="tcpBinding"
          name="Basic" contract="PubSub.Contracts.IPubSubContract" />
        
        <endpoint address="mex"
          binding="mexTcpBinding" bindingConfiguration="" name="Second"
          contract="IMetadataExchange" />
        
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:808/PubSubService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <serviceHostingEnvironment minFreeMemoryPercentageToActivateService="0" />
    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
